@model IEnumerable<TaskManagerApp.Models.Tasks>

@{
    ViewData["Title"] = "Index";
}

<h1>Task List</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Add New Task</a>
</p>
<table class="table table-bordered tabel-hover table-responsive-lg">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>View</th>
            <th>Edit</th>
             <th>Delete</th>
        </tr>
    </thead>
    <body>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
              
                <td>
                
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Edit</a> |
                  
                </td>
                <td>
                    
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </td>
        </tr>
}
    </body>
</table>
